@font-face {
    font-family: Luminari;
    src: url(Luminari-Regular.ttf);
}


.font {
    font-family: Luminari;
}

.horizontal-box {
    display: flex;
    gap: 1rem;
}

.vertical-box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.header>div {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

@media (max-width: 600px) {

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header>div {
        flex-direction: column;
        align-items: center;
    }
}


.footer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

@media (max-width: 600px) {

    .footer {
        flex-direction: column;
    }

    .footer>div:last-child {
        width: 100%;
    }
}

.content {
    display: flex;
    width: 1000px;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.align-center {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.padding-1 {
    padding: 1rem;
}

.padding-5 {
    padding: 5rem;
}

.padding-10 {
    padding: 10rem;
}

.flexgrow {
    display: flex;
    flex-grow: 1;
}

.flexbasis {
    display: flex;
    flex-basis: 50%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {

    .vh-center {
        justify-content: center;
    }
}

.stretch {
    display: flex;
    align-items: stretch;
}

.font-inherit {
    font-family: inherit;
}

.card-1 {
    display: flex;
    gap: 1rem;
}

.card-1>div:first-child {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (max-width: 600px) {

    .card-1 {
        flex-direction: column;
    }

    .card-1>div:last-child {
        justify-content: flex-end;
    }
}

.card-2 {
    display: flex;
    gap: 1rem;
}

.card-2>div:last-child {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
}

@media (max-width: 600px) {

    .card-2 {
        flex-direction: column-reverse;
    }
}

.card-3 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.card-3>div:last-child {
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {

    .card-3>div:last-child {
        flex-direction: column;
    }
}

.vh-box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (max-width: 600px) {

    .vh-box {
        flex-direction: row;
    }
}

.hv-box {
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {

    .hv-box {
        flex-direction: column;
    }
}

#img1 {
    width: 370px;
}

@media (max-width: 600px) {

    #img1 {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .search-bar {
        display: none;
    }
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

@media (max-width: 600px) {

    iframe {
        width: 300px;
        height: 220px;
    }
}
