.horizontal-box {
    display: flex;
    gap: 1rem;
}

.vertical-box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.footer {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.content {
    display: flex;
    width: 1000px;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.font {
    font-family: Luminari;
}

body {
    display: flex;
    justify-content: center;
}

.padding-1 {
    padding: 1rem;
}

.padding-5 {
    padding: 5rem;
}

.flexgrow {
    flex-grow: 1;
}

.flexbasis {
    flex-basis: 50%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.center {
    justify-content: center;
}

.stretch {
    align-items: stretch;
}