body {
    background-color: rgb(200, 195, 175);
}

.x {
    display: flex;
}

.y {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 1rem;
}

.padding {
    padding: 1rem;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.h-full {
    height: 100vh;
}

.button {
    width: 10rem;
    height: 10rem;
    background-color: darkslategrey;
    font-family: Luminari;
    font-size: 5rem;
    color: rgb(200, 195, 175);
}

@media (max-width: 550px) {

    .button {
        width: 7rem;
        height: 7rem;
    }

}

.lumi {
    font-family: Luminari;
    font-size: 4rem;
}

.button2 {
    width: 13rem;
    height: 4rem;
    background-color: darkslategrey;
    font-family: Luminari;
    font-size: 2.6rem;
    color: rgb(200, 195, 175);
}

@media (max-width: 550px) {

    .button2 {
        width: 10rem;
        height: 3rem;
        font-size: 2rem;
    }

}

.hide {
    display: none;
}

.show {
    visibility: visible;
}